.banner-color{
    background: #F6F5FF;
}
.banner-title{
    font: var(--heading);
    color: var(--navyBlue);
    font-size: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row-title{
    padding-top: 1.5em;
}

.banner-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.banner-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.color-active{
    color: var(--pink);
}