.headingBar{
    font: var(--buttonText);
    background: var(--purple);
    height: 44px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* align-items: center; */
    /* padding-block-start: 14px; */
    /* padding-block-end: 14px; */
}

.headingBar ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
}

.headingBar li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headingBar a {
    text-decoration: none;
    color: white;
    margin-inline-end: 2px;
}